@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  vertical-align: middle;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .container {
    padding: 0 15px;
  }
}

.btn {
  background: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.gallery {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 32px;
}
@media (max-width: 960px) {
  .grid-container {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

h1 {
  font-size: 4.5rem;
  grid-column: span 3;
  grid-row: span 2;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  justify-self: start;
}
@media (max-width: 960px) {
  h1 {
    grid-column: span 12;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

.grid-item {
  cursor: pointer;
  position: relative;
  grid-column: span 3;
}
@media (max-width: 960px) {
  .grid-item {
    grid-column: span 6;
  }
}
@media (max-width: 768px) {
  .grid-item {
    grid-column: span 12;
  }
}
.grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.grid-item:hover .image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.grid-item:hover::after {
  -webkit-transform: translate(5%, 5%);
      -ms-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
}

.imgBox {
  overflow: hidden;
}
.imgBox .image {
  width: 100%;
  height: 100%;
  height: 255px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal.open {
  display: block;
}
.modal .container {
  height: 100vh;
}

.modal .text {
  grid-column: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 960px) {
  .modal .text {
    grid-column: span 12;
    text-align: center;
  }
}
.modal .text .number .current-number {
  font-size: 4.5rem;
}
.modal .text .number .total-number {
  font-size: 2.25rem;
  position: relative;
  bottom: -15%;
  right: 0;
}
.modal .text .slogan h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.modal .text .slogan .author {
  font-style: italic;
}

.modal .image-area {
  position: relative;
  grid-column: span 9;
  border: 1rem solid #fff;
  border-radius: 1rem;
}
.modal .image-area img {
  width: 100%;
  height: 550px;
}
@media (max-width: 960px) {
  .modal .image-area {
    grid-column: 2/span 10;
  }
}
@media (max-width: 768px) {
  .modal .image-area {
    grid-column: span 12;
  }
}
.modal .image-area .close-btn {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.modal .image-area .close-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}
.modal .image-area .arrow-btn {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal .image-area .arrow-btn.left {
  left: 1.25%;
}
.modal .image-area .arrow-btn.right {
  right: 1.25%;
}
/*# sourceMappingURL=all.css.map */
